// Define variables for your color scheme
$white: #E2E2E2; // White
$red: #EF476F; // Paradise Pink
$yellow: #FFD166; // Orange Yellow Crayola
$green: #06D6A0; // Carribean Green
$blue: #118AB2; // Blue NCS
$midnight: #073B4C; // Midnight Green Eagle Green

// light colors
$light-red: #FDECF0;
$light-yellow: #FFF9EB;
$light-green: #EBFEFA;
$light-blue: #ECF9FD;
