<footer class="footer">
  <div class="footer-copyright">
    <p>Meety is made with &lt;3 by Maxi and Luki</p>
  </div>
  <div class="footer-links">
    <a href="https://github.com/Maxmulis/meety"><i class="fab fa-github"></i></a>
  </div>
</footer>
